.vscode
.curseclient
.options.txt

crash-reports/
downloads/

kubejs/probe/
local/
logs/

modernfix/
mods/
resourcepacks/
saves/

schematics/
screenshots/

Xaero*
*.marker

minecraftinstance.json
options.txt
*.properties
*cache.json